---
const { origin } = Astro.url;
---

<hr />

<p>
  If you liked this article, come <a href="https://twitter.com/jonmeyers_io"
    >follow me on Twitter</a
  > or <a href={`${origin}/newsletter`}>join the mailing list</a> for similar content
  right in your inbox!
</p>
