---
import BaseLayout from "../../layouts/base.astro";
---

<BaseLayout
  title="Courses"
  description="Courses that dive deep on Web Development topics"
  og_title="Courses that dive deep on Web Development topics"
>
  <main class="mx-auto flex-1 my-10 md:mt-20 max-w-[65ch] p-4">
    <h2 class="text-4xl font-bold">Coming soon...</h2>
  </main>
</BaseLayout>
